name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    steps:
      - name: Install OS dependencies
        run: sudo apt-get install -qy curl jq
      - uses: actions/checkout@v2
        with:
          lfs: true
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - name: Install npm dependencies
        run: npm ci
      - name: Install Zola 
        run: ./scripts/install-zola.sh
      - name: Build site
        run: $HOME/bin/zola build
